@CHARSET "UTF-8";

.noshadow * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
form.ui-mini .ui-field-contain fieldset.ui-controlgroup legend small {
    color: #666;
}
/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
    background-color: #f1f2e8 /*{a-page-background-color}*/;
}

.imageswitcher{
}
.imageswitcher .image-col{
	width: 100%;
	margin-right: 5px;
	vertical-align: top;
}
.imageswitcher .thumbnails-col{
	width: 47px;
	padding-left: 3px;
	padding-top: 5px;
	vertical-align: top;
}

.imageswitcher .thumbnails-col img{
	width: 40px;
    height: 40px;
	border: 1px solid #ccc;
    margin: 1px;
}

.imageswitcher .thumbnails-col img.thumb-active{
	border: 2px solid #0050c1;
	margin: 0;
}
.imageswitcher .full-image-wrapper{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.imageswitcher .full-image-wrapper img{
	width: 100%;
	height: auto;
}